<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rename File</title>
    <link rel="stylesheet" href="/style3.css">
</head>
<body class="mainbody">
    <div class="edit">
        <a id="tohome" href="/">Go back to home</a>
        <form action="/rename" method="post">
            <input type="text" name="oldName" value="<%= filename %>" readonly>
            <input type="text" name="newName" placeholder="New Filename">
            <button type="submit">Rename</button>
        </form>
    </div>
</body>
</html>
