<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= filename %> content</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body class="mainbody">
    <div class="title">
        <h1><%= filename %> content:</h1>
    </div>
    <div class="container">
        <a id="tohome" href="/">Go back to home</a>
        <p class="content">
            <%= content %>
        </p>
    </div>
</body>
</html>
